
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  background-color: #243137;
  color: white;
  display:flex;
  font-family: 'Roboto', sans-serif;
}

.section {
  background-color: #323c46;
  padding: 30px 30px 30px 30px;
  border: 1px solid #323c46;
  border-radius: 3px;
  width: 25%;
  box-shadow: 2px 2px 5px #1c1d20;
}

.main {
  margin:auto;
  width:70%;
  min-height: 800px;
  text-align:center;
  border-radius: 3px;

  box-shadow: 0px 0px 8px #1c1d20;
}

.graph {
  margin: 0 auto;
  width:90%;
  min-height: 300px;
  margin-top:50px;
  background-color: #323c46;
  padding: 10px 30px 30px 30px;
  border: 1px solid #323c46;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #1c1d20;
}

.credit {

  margin-bottom: 20px;
  color: #bdc2c8;
}

.orderBook {
  display: block;
  margin: 0 auto;
  width:90%;
  margin-top:50px;
  background-color: #323c46;
  padding: 10px 30px 30px 30px;
  border: 1px solid #323c46;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #1c1d20;
}

.orderBook table {
  text-align:center;
  margin: 0 auto;
}
.orderBook td {
  padding-left: 100px;
  padding-right: 100px;
}

.HighlightRed {
  color: #e12222;
  font-weight: bold;
}

.HighlightGreen {
  color: #3eae46;
  font-weight: bold;
}

.onglet {
  display:inline-block;
  margin-left:10px;
  margin-right:10px;
  margin-top :15px;
  margin-bottom: 15px;
  padding:3px 10px 3px 10px;
  cursor:pointer;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #1c1d20;
  font-size : 20px;

}

.onglet_1 {
  background-color: #424c56;
}

.contenu_onglet{
  display:block;
}

.onglets {
  margin-right:3%;
}