body{
    background-color: #696969
}
.credit {

    margin-bottom: 20px;
    color: #bdc2c8;
  }


  .tv-chart-container {
    width: 50%;
    height: 700px;
    float: left;
  }

  .macro-container {
    width: 50%;
    height: 700px;
    float: left;
  }

  .fullsize{
    width: 100%;
  }
